.showrow{
    display: table-row
}
.si-lineupbtn {
    display: flex;
}
.hiderow{
    display: none;
}


.si-sportSetup__head .si-lineupbtn span {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}
.si-sportSetup__head .si-lineupbtn {
    border: 1px solid #000;
    width: 145px;
    height: 31px;
    border-radius: 20px;
    margin: auto;
    margin-top: 24px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #2a0835 50%, #0e0842 100%);
    color: #fff;
}