@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
//Font Family
$regular_font-family: 'Roboto', sans-serif;
$medium_font-family:'Roboto', sans-serif;
$bold_font-family: 'Roboto', sans-serif;



//Font Weight
$regular_font-weight: 400;
$medium_font-weight: 500;
$bold_font-weight: 700;